.b10 {
	padding-top: 60px;
	padding-bottom: 120px;
	background: url("../img/b03_bg.jpg") 50% 100% no-repeat;

	.content {
		float: left;
		width: 572px;
		height: 283px;
		margin-top: 60px;
		padding-top: 50px;
		padding-left: 45px;
		margin-left: -45px;
		background: url("../img/b03-heading.png");
	}

	.heading {
		color: #fff;
		float: left;
		font-size: 25px;
		font-weight: 900;
		line-height: 30px;
		margin-bottom: 15px;
		font-family: $font-heavy;
		text-transform: uppercase;
		text-shadow: 0px 8px 20px rgba(0, 0, 0, 1);
	}

	.form-block {
		float: right;
	}
}