.b02 {
	color: #fff;
	height: 532px;
	padding-top: 75px;
	background: url("../img/b02_bg.jpg") 50% 0 no-repeat;

	.boss {
		width: 182px;
		float: left;
		padding-top: 70px;
		text-align: center;

		.boss-photo {
			width: 182px;
			height: 182px;
			margin-bottom: 15px;
			@include border-radius(50%);
		}

		.boss-name {
			font-size: 20px;
			font-weight: 900;
			line-height: 20px;
			margin-bottom: 15px;
			font-family: $font-heavy;
		}

		.boss-position {
			font-size: 14px;
		}
	}

	.boss-text {
		width: 775px;
		height: 386px;
		float: right;
		padding: 20px 25px 20px 75px;
		background: url("../img/b02_frame.png") 0 0 no-repeat;

		p {
			font-size: 15px;
			line-height: 24px;
			margin-bottom: 20px;
		}
	}
}