
$body-bg                :   #fff !default;
$text-color             :   #222 !default;
$link-color             :   #0d80e6 !default;
$link-hover-decoration  :   underline;


$font-size-base         :   14px !default;
$line-height-base       :   1.428571429 !default;
$font-base              :   'Roboto', Arial, sans-serif !default;
$font-heavy             :   'UniSansCAPS';


