.form-control {
	margin: 0;
	width: 100%;
	color: #000;
	outline: none;
	font-size: 13px;
	line-height: 20px;
	padding: 9px 15px;
	display: inline-block;
	background: transparent;
	border: 1px solid #d0d0d0;
	@include placeholder(#000);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		@include placeholder(transparent);
	}
}

textarea {
	resize: none;
}

.red {

	.form-control {
		border-color: #ff0000;

	}
}

label {
	font-weight: 400;
	display: block;
}

.form-group {
	margin-bottom: 10px;
}


