.form-control {
	margin: 0;
	width: 100%;
	color: #000;
	outline: none;
	font-size: 13px;
	line-height: 20px;
	padding: 9px 15px;
	display: inline-block;
	background: transparent;
	border: 1px solid #d0d0d0;
	@include placeholder(#eee);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		@include placeholder(transparent);
	}
}

.red {

	.form-control {
		border-color: #ff0000;

	}
}

label {
	font-weight: 400;
	display: block;
}

.form-group {
	margin-bottom: 10px;
}


.form-block {
	color: #000;
	width: 320px;
	background: #fff;
	position: relative;
	border: 5px solid #fff;
	padding: 25px 30px 15px 30px;

	&:before {
		left: 12px;
		right: 12px;
		bottom: -12px;
		content: ' ';
		height: 12px;
		position: absolute;
		border: 5px solid #fff;
	}

	&:after {
		left: 38px;
		right: 38px;
		bottom: -20px;
		content: ' ';
		height: 12px;
		position: absolute;
		border: 5px solid #fff;
	}

	.form-title {
		font-size: 26px;
		font-weight: 900;
		line-height: 30px;
		text-align: center;
		font-family: $font-heavy;
		text-transform: uppercase;
		margin: 0 -15px 15px -15px;
	}

	.form-text {
		color: #000;
		font-size: 13px;
		font-weight: 300;
		line-height: 18px;
		padding: 10px 20px;
		text-align: center;
		margin-bottom: 18px;
		position: relative;
		background: #fff;
		border: 1px solid #c4c4c4;

		span {
			color: #972424;
			display: block;
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
		}

		&:before {
			left: 50%;
			top: -10px;
			width: 18px;
			height: 11px;
			content: ' ';
			margin-left: -8px;
			position: absolute;
			background: url("../img/form-arrow.png") 0 0 no-repeat;
		}
	}

	.sup {
		font-size: 12px;
	}

	.secret {
		font-size: 11px;
		font-weight: 600;
		line-height: 20px;
		padding-left: 18px;
		margin-bottom: 15px;
		background: url("../img/icon-lock-white.png") 0 50% no-repeat;
	}

	.order-list {
		margin: 0;
		list-style: none;
		padding-bottom: 10px;

		li {
			color: #1f1f1f;
			min-height: 30px;
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
			position: relative;
			padding-left: 40px;
			margin-bottom: 15px;
			background: url("../img/icon-check.png") 0 0 no-repeat;
		}
	}
}